# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: gui123
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: alura-serverless
# "service" is the name of this project. This will also be added to your AWS resource names.
service: aws-node-http-api-project

provider:
  name: aws
  runtime: nodejs20.x
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  sendResponse:
    handler: api/handlers.sendResponse
    events:
      - httpApi:
          path: /api/results
          method: post
          request:
            schemas:
              application/json: ${file(./schemas/sendResponse.json)}

  getResult:
    handler: api/handlers.getResult
    events:
      - httpApi:
          path: /api/results/{id}
          method: get

plugins:
  - serverless-offline
